
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body{
    background-color: rgb(208, 166, 216);
}
*{
    margin: 0;
    padding:0;

}
nav{
font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    align-items: center;
    background-color: rgb(70, 67, 67);
    color:white;
}
nav ul li{
    padding: 0 12px;
}
.nav_text:hover{
 color:rgb(122, 128, 216);
 cursor: pointer;

}
.sidebar{
    background-color: #204356;
    width: 180px;
    height: 90vh;
    position: fixed;
}
.artists{
    height: 40vh;
    background-color: rgb(177, 150, 202);
    border: 10px solid rgb(63, 60, 60);
    border-radius: 25px;
}
.artists p{
    margin: 15px 5px;
    padding: 1px 20px;
    background-color: rgb(177, 95, 227);
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 2px;
    font-family: 'Ubuntu', sans-serif;
}
.artists p:hover{
    background-color: rgb(124, 53, 144);
    cursor: pointer;
}
.artists h2{
    margin: 5px 10px;
    font-family: 'Varela Round', sans-serif;

}
.languages{
    background-color:rgb(177, 150, 202);

    border: 10px solid rgb(63, 60, 60);
    height: 35vh;
    border-radius: 25px;
}
.languages h2{
    margin: 5px 10px;
    font-family: 'Varela Round', sans-serif;
}
.languages p{
    margin: 20px 5px;
    padding: 1px 20px;
    background-color: rgb(177, 95, 227);
    height: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 2px;
    font-family: 'Ubuntu', sans-serif;
    
}
.languages p:hover{
    background-color: rgb(124, 53, 144);
    cursor: pointer;
}
.brand img{
    height: 44px; 
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 60vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    bottom:0;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons{
    margin: 25px;
}
.icons{
    cursor: pointer;
}
#ProgressBar{
 width: 80vw;
 text-align: center;
 cursor: pointer;
}
.songItem{
    height: 45px;
    display: flex;
    background-color: white;
  
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    

}
.songList{
    width: 45%;
}
.songItem img{
    width: 43px;
    margin:0 23px ;
    border-radius: 30px;
}
.timestamp{
margin: 0 23px;
    
}
.songItem i{
    cursor: pointer;
        
    }
.songBanner img{
    background-repeat: no-repeat;
    position: relative;
    right: -170px;
    top:20px;
    border-radius: 12px;
    
}
 .songInfo{
        position: absolute;
        left: 10vw;
        font-family: 'Varela Round', sans-serif;
    }
  .songInfo span{
        position:relative;
        top:-20px;
        margin-left: 10px;
    }
    .songInfo img{
        opacity:0;
        transition: opacity 0.4s ease-in;
    }